.flx {
  display: flex;
}

.flx.col {
  flex-direction: column;

}

.flx.ai-c{
  align-items: center;
}

.flx.jc-c{
  justify-content: center;
}

body{
  background-color: yellow;
}

.slide{
  background-color: darkgray;
  border-radius: 10px;
  margin: 0 0 0 100px;
  padding: 10px
}

.reversed {
  flex-direction: row-reverse;
  margin: 0 100px 0 0
}



.content{
  gap: 5px;
}

img{
  width: 100px;
}

.hidden{
  display: none
}

.quotes, .nav , .showing{
  width: 50%;
  margin: auto;
}
.quotes{
  row-gap: 50px;
  height: min-content
}

.quote{
  color: whitesmoke
}

.name{
  color: rgba(255, 255, 0, 0.75)
}

.controls button{
  color: darkblue;
}
